<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildBundlerMinifier" version="3.2.449" targetFramework="net461" />
  <package id="EPPlus" version="6.0.3" targetFramework="net461" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net461" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="3.8.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
</packages>