<?xml version="1.0" encoding="utf-8"?>
<!--
Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--SECCION GLOBAL-->
    <sectionGroup name="GLOBAL">
      <section name="Log" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="PARAMETRIZACION">
      <section name="BotonesAccion" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
      <section name="GridViews" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
      <section name="mapa" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIDec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SIDec.Properties.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UrlImages" value="http://192.168.0.15:8282/" />
    <add key="PathImages" value="D:\\Desarrollo\\FTPLocal\\SDHT\\" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <!-- CADENAS DE CONEXION A BASE DE DATOS-->
  <connectionStrings>
    <!--<add name="sidecConn" connectionString="server=192.168.6.113; port=3306; uid=usidec; Persist Security Info=True; pwd=lsdHeelc52*; database=sidec;" providerName="MySql.Data.MySqlClient" />-->

    <add name="sidecConn" connectionString="server=localhost; port=3306; uid=root; Persist Security Info=True; pwd=1234; database=sidec;convert zero datetime=True" providerName="MySql.Data.MySqlClient" />
    <!--<add name="sidecConn" connectionString="server=localhost; port=3306; uid=usidec; Persist Security Info=True; pwd=lsdHeelc52*; database=sidec;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="sidecConn" connectionString="server=192.168.6.223; port=3306; uid=usidec; Persist Security Info=True; pwd=lsdHeelc52*; database=sidec;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <!-- PARAMETROS DE CONFIGURACION PARA SIDec-->
  <GLOBAL>
    <Log>
      <!--0: No registrar Log ** 1: Registrar en Archivo ** 2: Registrar en Base de Datos ** 3: Registrar en Archivo y en Base de Datos-->
      <add key="DestinoErrorLog" value="3" />
      <add key="LogFolderName" value="SIDecLog" />
      <add key="LogErrorFileName" value="ErrorLog.txt" />
      <add key="DestinoInfoLog" value="3" />
      <add key="LogInfoFileName" value="InfoLog.txt" />
      <!--<add key="Modulo" value="2"/>-->
    </Log>
  </GLOBAL>
  <PARAMETRIZACION>
    <BotonesAccion>
      <!--Determinar si se muestran o no los botones de Acción (CRUD)-->
      <add key="ActosAdm" value="True" />
      <add key="Cargos" value="True" />
      <add key="Conceptos" value="True" />
      <add key="Documentos" value="True" />
      <add key="Identidades" value="True" />
      <add key="IdentidadesCategoria" value="True" />
      <add key="Licencias" value="True" />
      <add key="Perfiles" value="True" />
      <add key="Predios" value="True" />
      <add key="PrediosDec" value="False" />
      <add key="PrediosPropietarios" value="True" />
      <add key="Prestamos" value="True" />
      <add key="Propietarios" value="True" />
      <add key="PlanesP" value="True" />
      <add key="PlanesPManzanas" value="True" />
      <add key="PlanesPCesiones" value="True" />
      <add key="PlanesPActos" value="True" />
      <add key="PlanesPLicencias" value="True" />
      <add key="PlanesPVisitas" value="True" />
      <add key="Proyectos" value="True" />
      <add key="ProyectosPredios" value="True" />
      <add key="Constructoras" value="True" />
      <add key="Usuarios" value="True" />
      <add key="Visitas" value="True" />
      <add key="Observaciones" value="True" />
      <!--<add key="Declaratorias" value="False"/>-->
    </BotonesAccion>
    <mapa>
      <add key="url" value="https://maps.google.com/maps?layer=c&amp;cbp=0,,,,40&amp;cbll=" />
    </mapa>
    <GridViews>
      <add key="BackGroundSeleccionado" value="#E0ECF8" />
    </GridViews>
  </PARAMETRIZACION>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.6.1" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="9000000" executionTimeout="10800" enableHeaderChecking="false" requestLengthDiskThreshold="2097150" requireRootedSaveAsPath="false" />
    <sessionState mode="InProc" cookieless="false" timeout="45" />
    <!--<customErrors mode="Off" defaultRedirect="Default.aspx" />-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>-->
    <customErrors mode="Off" />
    <httpModules>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
    <pages enableViewStateMac="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="102400000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <handlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" name="ReportViewerWebControlHandler" preCondition="integratedMode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <applicationSettings>
    <SIDec.Properties.Settings>
      <setting name="DetalleOnClickPredios" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPrediosDec" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickConceptos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickVisitas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickActosAdm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickUsuarios" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickCargos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickIdentidades" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickIdentidadesCategoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPerfiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickDocumentos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPrestamos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickLicencias" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPrediosPropietarios" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPropietarios" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickDeclaratorias" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesPManzanas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesPCesiones" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesPVisitas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickObservaciones" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesPActos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickPlanesPLicencias" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickProyectos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetalleOnClickConstructoras" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CSSbtnHabilitado" serializeAs="String">
        <value>btnHabilitado btn4</value>
      </setting>
      <setting name="CSSbtnDeshabilitado" serializeAs="String">
        <value>btnDeshabilitado btn4</value>
      </setting>
    </SIDec.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>